<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Storm UI</display-name>
	<context-param>
		<param-name>debug</param-name>
		<param-value>false</param-value>
	</context-param>

	<session-config>
		<!-- 10 minutes -->
		<session-timeout>10</session-timeout>
	</session-config>
</web-app>
